html{
  background-color: #4a6670;
}

.App {
  text-align: center;
  color: white;
}

.link-list{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding-top: 20px;
}

.about{
  display: grid;
  grid-template-columns: [start] 50% [img-end] 50% [end];
  grid-template-rows: [start] 10% [title-end] 80% [end];
  border: 2px solid black;
  height: 500px;
  width: 80%;
  margin: auto;
  background-color: #c1666b;
  border-radius: 10px;
}

.about-slider{
  grid-column-start: start;
  grid-column-end: img-end;
  grid-row-start: title-end;
  grid-row-end: end;
}

.about-title{
  grid-row-start: start;
  grid-row-end: title-end;
  grid-column-start: start;
  grid-column-end: end;
  margin: 0
}

.img1{
  width: 30vw !important;
  max-width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
}

.img2{
  width: 30vw !important;
  max-width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 0;
}
